            * {
                margin: 0px;
                padding: 0px;
            }
            /*------------ SECTION ESTRENOS (amala - coni) ----------*/
            
            .los-estrenos {
                position: relative;
            }
            
            .img-responsive-estreno {
                width: 100%;
            }
            
            .titulo-los-estrenos {
                padding: 20px 0;
            }
            
            .text-los-estrenos {
                height: 170px;
                margin: 10px 0;
            }
            
            .text-los-estrenos p {
                font-size: 0.9em;
            }
            
            .img-estrenos {
                padding: 5px;
                background-color: #BFBFBF;
            }
            
            .img-consola {
                width: 30px;
            }
            
            .text-los-populares {
                height: 170px;
                margin: 10px 0;
            }
            
            .estreno-caja {
                padding-bottom: 5%;
            }
            
            .img-consola {
                width: 30px;
            }
            
            .logo-consola {
                padding: 10px 20px;
            }
            
            .titulo-juego {
                padding-top: 15px;
                text-transform: uppercase;
                color: #7F7F7F;
            }
            
            .btn-default {
                margin-bottom: 5px;
            }
            
            .well {
                text-align: center;
                padding: 3px;
            }
            /* Fin estilos Amala Y Coni */
            /* Inicio estilos nat */
            
            #contact {
                margin-top: 50px;
            }
            
            .map-contact {
                margin-top: 20px;
                text-align: right;
                border: 1px solid black;
            }
            
            .title-contact {
                margin-top: 30px;
            }
            
            textarea {
                resize: none;
            }
            
            .contact-content {
                background-color: #BFBFBF;
            }
            
            .container-contact {
                margin-top: 50px;
                margin-bottom: 20px;
            }
            
            .btn-enviar {
                color: #fff;
                background-color: #337ab7;
                border-color: #2e6da4;
            }
            /* Fin estilos nat */
            /*-------FOOTER--------*/

     

            footer {
                width: 100%;
                padding-top: 20px;
                background-color: #3F3F3F;
            }
            
            #mouse{
    text-decoration: none;
    cursor: pointer;
}

  



            .fa-x2 {
  font-size: 4em;
}
            .pre-footer {
                background-color: #3F3F3F;
                color: white;
                padding: 30px 0;
            }
            
            .text-center li {
                list-style: none;
                text-align: left;
            }
            
            .text-center li a {
                color: #07399B;
    text-decoration: none;
    list-style: none;
            }
            
            .text-center li a:hover {
                color: #21A1EA;
                text-decoration: none;
            }
            
            .text-center a {
                color: #BFBFBF;
            }
            
            .text-center a:hover {
                color: #21A1EA;
            }


            footer  .flex-container {
  display: flex;
  max-width: 95%;
  margin: 0 auto;
  justify-content: space-between;
}


           footer .bottom {
  background-color: #A09895;
  padding: 1em 0;
}
footer .left {
  width: 49%;

}
footer .right {
  width: 49%;
}
footer .top .right > * {
  margin: 0 0 0 25%;
}
footer .bottom .right {
  text-align: right;
}
footer ul li {
  margin: .5em 0;}

  .left li{
    display: inline-block;

  }

            
            .slider-content {
                margin-top: -20px;
                background-color: #222222;
            }
            /* Inicio estilos de karina */
            
            .logo {
                width: 120px;
                height: auto;
            }
            
            .subir {
                margin-top: -22px;
            }
            /* Fin de estilos Karina */